.card{
    width: 267px;
    min-height: 336px;
    background: white;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.328), 0 4px 6px -4px rgba(0, 0, 0, 0.189);
    margin: 8px;
    &__body{
        padding: 24px;
        & h3{
            font-size: 30px;
            font-weight: bold;

        }
        & ul{
            margin-top: 8px;
        }
    }
}